/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html:root{
    --main-color: #b4d0e7;
    --secondary-color: #0061ff;
    --tertiary-color: #804241;
    --dark-color: #000000; 
    --light-color:#ffffff;
    --logo-color-1:#a2d39b;
    --logo-color-1-border:#d1e9cd;
    --logo-color-2:#61082b;
    --logo-color-3: #d5001f;
    --logo-color-4: #0093ce;
    --logo-color-5:#ff1c1c;
    --logo-color-6:#0d2481;
    --logo-color-7:#ffd830; 
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/*#endregion general */

/*#region utilities  */

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.large-container {
    width:70%;
    margin: auto;
}

.small-container {
    width: 50%;
    margin: auto;
}

.items-centred {
    align-items: center;
}

.blue-button {
    color: var(--light-color);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem
}

.blue-button {
    border: 1px solid grey;
    color: grey;
    background-color: var(--light-color);
    padding: 0.5rem 1rem
}


.col-4 {
    width: calc((100% - 6rem) /12 * 4);
}

.col-12 {
    width: calc(100% /12 * 12);
}


.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/*#endregion utilities */

/* #region header */
/* 
.debug #app-header {
    background-color: orange;
} */

#app-header {
    background-color: var(--light-color);
    height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10000;
}

#app-header a {
    text-decoration: none;
    
}

#app-header a {
    color: black;
}

#logo-section, #start-section {
    width: 30%;
}

#logo-section {
    margin-left: 1rem;
}

#start-section {
    justify-content: end;
}

#start-section ul {
    width: 100%;
    margin-right: 1rem;
}

#logo-section li{
    font-size: 12px;
}

#start-section li {
    font-size: 12px;
}


/* #endregion header */

/* #region jumbotron */
/* 
.debug #jumbotron {
    width: 100%;
    height: 30rem;
} */

/* .debug #jumbotron .large-container {
    background-color: rgba(172, 255, 47, 0.429);
} */

/* .debug #jumbotron-text {
    background-color: #ffd9306e;
} */
/* 
.debug #jumbotron-img {
    background-color: #804241;
    height: 300px;

} */

#jumbotron{
    background-color: var(--main-color);
    padding-top: 3rem;
}

#jumbotron h1 {
    font-size:  4rem;
    line-height: 5rem;
    padding-bottom: 2rem;
}


#jumbotron-text {
    width: 30%;
    padding-bottom: 1rem
}

#jumbotron-img {
    width: 70%;
    position: relative;
    margin-left: 3rem;
}

#jumbotron-text p {
    font-size: 14px;
    margin-bottom: 2rem;
}

#jumbotron-text span{
    display: block;
}

#jumbotron-text .blue-button {
    font-size: 14px;
    margin-bottom: 2rem;
}

#jumbotron-text #delete {
    margin-bottom: 3rem
}

#jumbotron-text .arrow{
    font-size: 30px;
}

#bg-jumbotron-img {
    position: absolute;
    top: 0rem;
    right: 0;
}


/* #endregion jumbotron */

/* #region business */

/* .debug #business .small-container {
    height: 70rem;
    background-color: #ff1c1c7e;
} */
/* .debug .business-checkbox {
    width: 100%;
    background-color: #a2d39b;
} */

/* .debug #business-plans .col-4 {
    min-height: 15rem;
    background-color: #0093ce;
    border: 1px solid black;
} */

/* .debug .col-12 {
    background-color: #0093ce;
    border: 1px solid black;
    height: 8rem;
} */

#business {
    background-color: var(--light-color);
    padding-top: 8rem;
}

#business .business-checkbox{
    margin-top: 2rem;
}

#business .business-checkbox span {
    margin-right: 2rem;
}

#business-plans .col-4 {
    margin-top: 2rem;
    border: 1px solid grey;
   
}

#business-plans span {
    display: block;
}


#business .title-plan {
    font-size: 14px;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid grey;
}

#business-plans .col-4 .col-content{
    margin: 1rem 1rem
} 

#business-plans .col-4 .col-content span, #business-plans .col-content li{
    font-size: 10px;
}

#business-plans .users{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

#business-plans .col-4 .col-content hr {
    
    width: 20%;
    color: grey;
}

#business-plans .col-content .fa-check{
    color: var(--secondary-color);
}

#business-plans .col-12 {
    margin-top: 2rem;
    border: 1px solid grey;
}

#business-plans .col-12 h5 {
    margin-bottom: 2rem;
}

#business-plans .col-12 .col-content {
    padding: 1rem;
}



/* #endregion business */

/* #region contacts  */

/* .debug #contacts .small-container {
    height: 12rem;
    background-color: #a2d39b;
}
.debug #contacts-img {
    margin-top: 2rem;
    height: 8rem;
    background-color: #b4d0e7;
}

.debug #contacts-text{
    height: 8rem;
    margin-top: 2rem;
    background-color: #804241;
} */

#contacts-img {
    width: 60%;
}

#contacts-text{
    width: 40%;
}

#contacts-text {
    margin-left: 2rem;
}

#contacts-text h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contacts p {
    font-size: 10px;
    margin-bottom: 1rem;
}
/* #endregion contacts */

/* #region operations */
.debug #operations .small-container {
    height: 20rem;
    background-color: yellow;
}

.debug #operations .col-4 {
    height: 8rem;
    background-color: #0093ce;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.row {
    flex-wrap: wrap;
}

#operations {
    background-color: var(--light-color);
}

/* #endregion operations */

/* #region banner */
#banner{
    background-color: var(--light-color);
}

/* #endregion banner */

/* #region partners*/
.debug #partners > div {
    height: 30rem;
    background-color: #a2d39b;
    border: 1px solid black;
}


.debug #partners .company {
    width: calc(100% / 2);
    aspect-ratio: 1;
    border: 1px solid black;
}

#partners > div {
    width: calc(100% / 3);
}

#designit {
    background-color: var(--logo-color-1);
}

#arizona-state-university{
    background: var(--logo-color-2)
}

#university-of-florida{
    background-color: var(--logo-color-4);
}

#topps{
    background-color: var(--logo-color-3);
}

#world-bicycle-relief {
    background-color: var(--logo-color-5);
}

#hearst {
    background-color: var(--main-color);
}

#lonely-planet {
    background-color: var(--logo-color-6);
}

#clear-channel {
    background-color: var(--logo-color-7);
}

/*#endregion partners*/

/* #region call-to-action */

.debug #call-to-action{
    height: 20rem;
    padding-top: 2rem;
}

.debug #call-to-action .small-container {
    height: 10rem;
    background-color: #d500208d;
}

#call-to-action{
    background-color: var(--main-color);
}

#call-to-action .h3 {
    width: 60%;
}

#call-to-action .small-container {
    align-items: center;
}

/* #endregion call-to-action */
/* #region FAQ */



.debug .question {
   
    background-color: pink;
}

#FAQ {
    background-color: var(--light-color);
}

/* #endregion FAQ */

/* #region footer */

.debug #top-footer ul {
    background-color: #0061ff;
}

.debug #bottom-footer span {
    background-color: #61082b;
}

#app-footer {
    background-color: var(--dark-color);
}

/*#endregion footer */