/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html:root{
    --main-color: #b4d0e7;
    --secondary-color: #0061ff;
    --opacity-secondary-color:#0062ff48;
    --tertiary-color: #804241;
    --dark-color: #000000; 
    --light-color:#ffffff;
    --logo-color-1:#a2d39b;
    --logo-color-1-border:#d1e9cd;
    --logo-color-2:#61082b;
    --logo-color-3: #d5001f;
    --logo-color-4: #0093ce;
    --logo-color-5:#ff1c1c;
    --logo-color-6:#0d2481;
    --logo-color-7:#ffd830; 
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/*#endregion general */

/*#region utilities  */

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
.huge-container {
    max-width: 1800px;
    margin: auto;
}

.large-container {
    width:70%;
    margin: auto;
    max-width: 1200px;
}

.small-container {
    width: 50%;
    margin: auto;
    max-width: 1200px;
}

.items-centred {
    align-items: center;
}

.main-button {
    color: var(--light-color);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem
}

.main-button:hover{
    background-color: var(--opacity-secondary-color);
}

.light-button {
    border: 1px solid grey;
    color: grey;
    background-color: var(--light-color);
    padding: 0.5rem 1rem
}


.col-4 {
    width: calc((100% - 6rem) /12 * 4);
}

.col-6 {
    width: calc((100% / 12 *6))
}

.col-12 {
    width: calc(100% /12 * 12);
}


.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-2{
    margin-top: 2rem;
}

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.checkbox {
    display: inline-block;
    margin-right: 2rem;
}

.billing {
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 1rem;
    aspect-ratio: 1;
}

.billing:checked {
    border: 5px solid var(--secondary-color);
}
/*#endregion utilities */

/* #region header */
#app-header {
    background-color: var(--light-color);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10000;
    font-size: 12px;
}

#logo-section, #start-section {
    width: 30%;
}

#logo-section {
    margin-left: 1rem;
}

#logo {
    width: 30%;
}

#start-section {
    justify-content: end;
}

#logo-section ul {
    flex-grow: 1;
    justify-content: space-around;
}

#start-section ul {
    width: 100%;
    margin-right: 1rem;
}


#app-header ul li:not(.main-button){
    padding: 1rem 0
}
#app-header ul li:hover {
    background-color: rgba(211, 211, 211, 0.273);
} 
#app-header a {
    text-decoration: none;
    color: var(--dark-color);
}


/* #endregion header */

/* #region jumbotron */


#jumbotron{
    background-color: var(--main-color);
    padding-top: 5rem;
}

#jumbotron h1 {
    font-size:  5rem;
    line-height: 6rem;
    padding-bottom: 2rem;
    font-weight: 900;
}

#jumbotron-text {
    width: 30%;
    padding-bottom: 1rem;
}

#jumbotron-img {
    width: 70%;
    margin-left: 3rem;
    margin-bottom: -10rem;
}

#jumbotron-text span{
    display: block;
}

#jumbotron-text .arrow{
    font-size: 30px;
}

#jumbotron-text .arrow a {
    text-decoration: none;
    color: var(--dark-color);
}


/* #endregion jumbotron */

/* #region business */


#business {
    background-color: var(--light-color);
    padding-top: 10rem;
}

#business #business-checkbox span {
    margin-right: 2rem;
}

#business-plans .col-4, #business-plans .col-12 {
    border: 1px solid grey;
   
}

#business-plans span {
    display: block;
}


#business .title-plan {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid grey;
}

#business-plans .users{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

#business-plans .plan-benefits{
    flex-direction: column;
    gap: 2rem;
} 


#business-plans .folder, #business-plans .share-node {
    gap: 0.5rem;
}

#business-plans .col-4 .col-content span {
    font-size: 14px;
}

#business-plans .col-4 .col-content .main-button {
    text-align: center;
}

#business-plans .col-4 .col-content hr {
    
    width: 20%;
    color: grey;
}

#business-plans .col-content .fa-check{
    color: var(--secondary-color);
}

#business-plans .col-12 .col-content {
    padding: 1rem;
}



/* #endregion business */

/* #region contacts  */

#contacts-img {
    width: 60%;
}

#contacts-text{
    width: 40%;
}

#contacts-text {
    margin-left: 2rem;
}
/* #endregion contacts */

/* #region operations */

.row {
    flex-wrap: wrap;
}

#operations {
    background-color: var(--light-color);
}

#operations .bottom-col h4 {
    line-height: 1.5rem;
}

#operations .bottom-col p {
    line-height: 1rem;
    font-size: 14px;
}

/* #endregion operations */

/* #region banner */
#banner{
    background-color: var(--light-color);
}

#banner h2{
    margin-right: 18rem;
    margin-bottom: 3rem;
}
/* #endregion banner */

/* #region partners*/
#partners > div {
    width: calc(100% / 3);
}

#partners-center {
    padding: 2rem
}

#partners-center-title {
    position:relative;
}

#partners-center-title h2{
    display: inline-block;
    font-size: 50px;
}

#partners-center-title i {
    position: absolute;
    top: 0;
    right: 45%;
}
#partners-center-title span{
    display: block;
}

#partners-center hr {
    width: 20%;
    color: grey;
}

#partners .company {
    width: 50%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

#partners .company img {
    filter: invert(100%)
}


#designit {
    background-color: var(--logo-color-1);
    border: 1rem solid var(--logo-color-1-border);
}

#arizona-state-university{
    background: var(--logo-color-2)
}

#university-of-florida{
    background-color: var(--logo-color-4);
}

#topps{
    background-color: var(--logo-color-3);
}

#world-bicycle-relief {
    background-color: var(--logo-color-5);
}

#hearst {
    background-color: var(--main-color);
}

#lonely-planet {
    background-color: var(--logo-color-6);
}

#clear-channel {
    background-color: var(--logo-color-7);
}

/*#endregion partners*/

/* #region call-to-action */

#call-to-action{
    background-color: var(--main-color);
}

#call-to-action .small-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


#call-to-action h2 {
    width: 60%;
    font-size: 25px;
    padding-right: 5rem;
    color: var(--tertiary-color);
}

#call-to-action .small-container {
    align-items: center ;
}

/* #endregion call-to-action */
/* #region FAQ */

#FAQ {
    background-color: var(--light-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#FAQ h2 {
    font-size: 25px;
}

#FAQ h2, #FAQ hr, #FAQ h4,.question {
    margin-bottom: 2rem
}


/*#region onclick effect */
#FAQ .fa-angle-up {
    display: none;
}
#FAQ p{
    margin-bottom: 1rem;
    display: none;
}
#question-one{
    appearance: none;
}

#question-one:checked + label .fa-angle-up {
    display: inline;
}

#question-one:checked + label .fa-angle-down {
    display: none;
}

#question-one:checked + label p {
    display: block;

}

#question-two{
    appearance: none;
}

#question-two:checked + label .fa-angle-up {
    display: inline;
}

#question-two:checked + label .fa-angle-down {
    display: none;
}

#question-two:checked + label p {
    display: block;

}

#question-three{
    appearance: none;
}

#question-three:checked + label .fa-angle-up {
    display: inline;
}

#question-three:checked + label .fa-angle-down {
    display: none;
}

#question-three:checked + label p {
    display: block;

}

/* #endregion onclick effect */



/* #endregion FAQ */

/* #region footer */


#app-footer {
    background-color: var(--dark-color);
    padding-bottom: 3rem;
}

#top-footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#top-footer ul:not(:last-child) {
    margin-right: 2rem;
}

#top-footer li h2 {
    padding-bottom: 2rem;
}
#app-footer li {
    line-height: 2rem;
}
#app-footer li a{
    text-decoration: none;
    color: var(--light-color);
}

#app-footer hr {
    width: 20%;
}

#bottom-footer span {
    color: grey;
}

/*#endregion footer */